* {
    background-color: #F3E9F9;
}

header {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 30px;
    font-weight: bold;
}

a {
    color: #281151; 
}

a:hover {
    text-decoration: none;
}

div {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: auto;
    width: 55%;

}

/*@media screen and (max-width: 826px) {
    img {
        height: 30rem;
    }
}*/