* {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #281151;
    text-align: center;
    box-sizing: border-box;
    line-height: 25px;
}

/* HEADER SECTION */

header {
    position: fixed;
    background-color: #9A75AA;
    color: white;
    width: 100%;
    top: 0;
    z-index: 2;
    padding: 10px;
}
header h2 {
    display: inline;
    float: left;
    background-color: #9A75AA;
    color: white;
}
header li {
    display: inline;
    float: right;
    text-decoration: underline;
    background-color: #9A75AA;
    color: white;
    margin: 8px;
    font-weight: bold;
}

header a {
    background-color: #9A75AA;
    color: white;
}

header a:hover {
    text-decoration: underline #9A75AA;
    transition: text-decoration 200ms ease-in;
}
.homeIcon i, .homeIcon a {
    background-color: #9A75AA;
}


/* BODY DIMENSIONS */

body {
    position: relative;
    top: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px auto auto auto auto;
    grid-row-gap: 40px;
}

/* HOME SECTION */

.homesection {
    grid-area: 1 / 1 / 2 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3E9F9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}
#nameAndTitle {
    font-size: 30px;
}
.homesection i {
    margin: 30px;
    display: block;
    background-color: #F3E9F9;
    color: #281151;
}
.homesection h1 {
    display: block;
    background-color: #F3E9F9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
    color: #281151;
    /*line-height: 40px;*/
}

/* ABOUT ME SECTION */

.aboutmesection {
    grid-area: 2 /2 / 3 / 6;
    background-color: #E1C6EF;
    border-radius: 15px;
}

.aboutmesection h2 {
    background-color: #E1C6EF;
    padding-top: 40px;
    color: #281151;
}
.aboutmecontent {
    display: flex;
    background-color: #E1C6EF;
    padding-left: 40px;
    padding-right: 40px;
    
}
.aboutmesection p {
    background-color: #E1C6EF;
    
}
.aboutmesection img {
    height: 280px;
    width: 290px;
    padding: 5px;
    padding-bottom: 15px;
    background-color: transparent; 
}

.aboutmesection a {
    background-color: #E1C6EF;
    font-weight: bold;
}
.aboutmesection a:hover {
    text-decoration: none;
}

/* PROJECTS SECTION */
.projectssection {
    grid-area: 3 /1 / 4 / 7;
    background-color: #F3E9F9;
    border-radius: 15px;
    margin-left: 40px;
    margin-right: 40px;
}

.projectssection h2 {
    background-color: #F3E9F9;
    padding: 30px;
}

.projectssection img{
    width: 225px;
    height: 300px;
    margin: 50px;
    margin: 40px 40px 0px 40px;
    border-radius: 2%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.projectimage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F3E9F9;
    row-gap: 30px;
}

.projectimage a {
    background-color: transparent;
}

div {
    background-color: transparent;
}

.project-div {
    width: auto;
    height: auto;
    margin: 4%;
    background-color: white;
    border-top:#9A75AA 4px solid;
    border-bottom: #9A75AA 4px solid;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

}

.info h3 {
    background-color: none;
}

.info {
    margin-bottom: 20px;
}

.projectButton {
    background-color: white;
    color: #9A75AA;
    border: 1px solid #9A75AA;
    border-radius: 10px;
}

.projectButton:hover {
    color: #ffffff;
    border: 1px solid #9A75AA;
    background-color: #9A75AA;
}

.projectButton:active {
    color: #ffffff;
    border: 1px solid #281151;
    background-color: #281151;
}

/* SKILLS SECTION */

.skillssection {
    grid-area: 4 /1 / 5 / 7;
    justify-items: center;
    align-items: center;
    background-color: #E1C6EF;
    border-radius: 15px;
    margin-left: 40px;
    margin-right: 40px;
}

.skillssection h2, .skillssection p, .skillssection i {
    background-color: #E1C6EF;
}

.skillssection i {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.skillimage {
    display: flex;
    justify-content: space-around;
    background-color: #E1C6EF;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* CONTACT SECTION */

.contactsection {
    grid-area: 5 /2 / 6 / 6;
    background-color: #F3E9F9;
    border-radius: 15px;
    position: relative;
    margin-bottom: 30px;
}

.contactsection h2{
    background-color: #F3E9F9;
    margin-bottom: 1%;
    margin-top: 1%;
}

.contactsection p {
    display: flex;
    justify-content: center;
}
.contactsection h2 {
    padding-top: 30px;
}

#contactList {
    margin-bottom: 20px;
}

.contactsection i, .contactsection a {
    background-color: #F3E9F9;
    text-decoration: none;
}
.isALink {
  color: inherit;
  transition: color 250ms ease, filter 250ms ease;
}
.isALink:hover,
.isALink:focus-within {
  color: #281151;   /* lighter text color */
  
}

/* RESPONSIVENESS */

@media screen and (max-width: 407px) {
    .skillssection i {
        padding: 7px;
    }
}

@media screen and (max-width: 915px){
    .aboutmesection {
        grid-area: 2 /1 / 3 / 7;
    }
    .projectssection, .skillssection, .contactsection{
        margin: 0px;
    }
    .contactsection {
        grid-column: 1 / 7;
    } 
    .projectssection img{
        width: 250px;
        height: 350px;
    }
    .homesection {
        flex-direction: column;
    }
    .homesection h1 {
        font-size: 3em;
    }
    nav ul {
        display: none;
    }
    
    .homesection i {
        font-size: xxxx-large;
    }
    
    
}

@media screen and (max-width: 1065px){
    .aboutmecontent{
        flex-direction: column;
        align-items: center;
        
        
    }
}

@media screen and (max-width: 1180px) {
    .skillssection i {
        font-size: xxx-large;
    }
}
@media screen and (min-width: 915px) {
    .info p {
        margin-bottom: 80px;
    }
    
}